.ed-dropdown-menu {
  border: 1px solid #ebeef5;
  background-color: #fff;
  margin: 5px 0;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  padding: 6px 0px;
  text-align: center;
}

.ed-dropdown {
  color: #606266;
  font-size: 14px;
}

.ed-dropdown-menu .el-dropdown-menu__item:first-child+.el-dropdown-menu__item--divided {
  border-top-color: #303133;
}

.ed-dropdown-menu--outer {
  min-width: 100px;
}
.ed-dropdown-menu--nest {
  min-width: 60px;
}