

.btn-module button {
  margin-bottom: 20px !important;
  margin-right 10px !important;
}

.theme-default-content:not(.custom) {
  max-width 960px
}

// .sidebar-heading {
//   color: #333 !important;
//   font-weight: bold;
//   font-size: 16px !important;
// }

// a.sidebar-link {
//   font-size: 14px !important;
//   color: #444 !important;
// }