.ed-list-table th, .ed-list-table td {
  border: none;
}

.ed-list-table tr:nth-child(2n) {
  background-color: transparent;
}

.ed-list-table tr {
  border-top: none;
}

.ed-list-table table {
  border-collapse: initial;
  margin: initial;
  display: initial;
  overflow-x: initial;
}

.btn-module button {
  margin-bottom: 20px !important;
  margin-right 10px !important;
}

.theme-default-content:not(.custom) {
  max-width 960px
}