table {
  border-collapse: initial;
  margin: initial;
  display: initial;
  overflow-x: initial;
}

th, td {
  border: none;
}

tr:nth-child(2n) {
  background-color: transparent;
}

tr {
  border-top: none;
}