
.ed-radio /deep/ .el-radio__inner {
  width: 16px !important;
  height: 16px !important;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#ededed));
  background: linear-gradient(180deg, white 0%, #ededed 100%);
  border: 1px solid #979797 !important;
}
.ed-radio /deep/ .el-radio__input.is-checked .el-radio__inner {
  background: none !important;
  background-color: #fff;
  border-color: $input-focus-border !important;
}
.ed-radio /deep/ .el-radio__input.is-checked .el-radio__inner:after {
  width: 9px;
  height: 9px;
  border-radius: 9px;
  background-color: $input-focus-border;
}
.ed-radio /deep/ .el-radio__label {
  padding-left: 4px !important;
  font-size: 13px !important;
}
.ed-radio /deep/ .el-radio:focus:not(.is-focus):not(:active):not(.is-disabled) .el-radio__inner {
  box-shadow: 0 0 0 0 $input-focus-border !important;
  -webkit-box-shadow: 0 0 0 0 $input-focus-border !important;
}
.ed-radio /deep/ .el-radio__input+.el-radio__label {
  color: #999 !important;
  font-size: 13px;
}
.ed-radio /deep/ .el-radio__input.is-checked+.el-radio__label {
  color: $new-primary !important;
}
